
<h1>Editing state</h1>

<%= render "form", state: @state %>

<br>

<div>
  <%= link_to "Show this state", @state, class:"btn btn-primary" %>
  <%= link_to "Back to states", states_path, class:"btn btn-warning" %>
</div>